<ion-content class="home" padding>
  <button ion-button block color="purple" (click)="openCamera()">                
        Снимай с камерата
	</button>
	<button ion-button block color="purple" (click)="openAlbums()">                
		Избери от албуми
	</button>
	<button ion-button block color="purple" [hidden]="images.length == 0" (click)="startUploading()">                
		Качване
	</button>

	<div class="items">
        <div *ngFor="let item of images; let i = index">
            <ion-row center  *ngIf="i % 4 === 0" > 
                <ion-col width-25 *ngIf="i < images.length">
                    <div class="image" [ngStyle]="{'background-image': 'url(' + images[i] + ')'}"></div>
                </ion-col>
                <ion-col width-25 *ngIf="i + 1 < images.length">
                    <div class="image" [ngStyle]="{'background-image': 'url(' + images[i + 1] + ')'}"></div>
                </ion-col>
                <ion-col width-25 *ngIf="i + 2 < images.length">
                    <div class="image" [ngStyle]="{'background-image': 'url(' + images[i + 2] + ')'}"></div>
                </ion-col>
                <ion-col width-25 *ngIf="i + 3 < images.length">
                    <div class="image" [ngStyle]="{'background-image': 'url(' + images[i + 3] + ')'}"></div>
                </ion-col>
            </ion-row>
        </div>
    </div>

	<div class="uploading" id="uploading" [hidden]="!uploading">     
		<progress value="{{progress}}" max="100" style="width:96%"></progress>
		<div class="info">  
			<h6>Снимка {{current}} от {{total}}</h6>
		</div>
	</div>
	<div [hidden]="uploading || (current == 1 && !uploading)" class="buttons">
		<button id="done"  ion-button block color="purple" (click)="done()">
			Готово
		</button>
	</div>	
</ion-content>
