<ion-header>
    <ion-navbar color="purple">
      <ion-title></ion-title>
    </ion-navbar>
  </ion-header>

<ion-content class="grey">
	<ion-card>
	  <img src="{{imagesPath}}{{saloon.portfolios[0] ? saloon.portfolios[0].filepath : '../../img/no_image.png'}}"/>
	  <ion-card-content>
	    <ion-card-title>
	      {{saloon.name}}
	    </ion-card-title>
	    <p>
	       {{saloon.city.name}}, {{saloon.address}}
	    </p>
            <p>
	      тел:  {{saloon.phone_1}}
	    </p>
            <p style="font-size: 0.9em; color: #555555; font-style: italic;">
	      {{saloon.description}}
	    </p>
	  </ion-card-content>
      </ion-card>

  <ion-card>
	  <ion-card-header>
	    <ion-icon name='photos' icon-left></ion-icon>
	  </ion-card-header>

		<ion-card-content>
	    <img src="{{imagesPath}}{{portfolio.filepath}}" *ngFor="let portfolio of saloon.portfolios" style="margin-top: 10px;"/>
 		</ion-card-content>
  </ion-card>
      

	<ion-card *ngFor="let promotion of saloon.promotions">
	  <ion-card-header color="purple">
	    {{promotion.name}}
	  </ion-card-header>

		<ion-card-content>
	    <h2></h2>
      <p style="font-size: 0.9em; color: #555555; font-style: italic;">{{promotion.description}}</p>
      <h6>Стара цена: {{promotion.old_price}}.</h6>
	    <h6>Нова цена: {{promotion.new_price}}.</h6>
		</ion-card-content>
  </ion-card>
</ion-content>
