<ion-header>
  <ion-toolbar color="purple">
    <ion-title>Търсене</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
      <ion-label floating>Категория</ion-label>
      <ion-select [(ngModel)]="categoryId">
        <ion-option value="{{category.id}}" *ngFor="let category of categories">{{category.name}}</ion-option>
      </ion-select>
    </ion-item>
  

    <ion-item>
      <ion-label floating>Град</ion-label>
      <ion-select [(ngModel)]="cityId">
        <ion-option value="{{city.id}}" *ngFor="let city of cities">{{city.name}}</ion-option>
      </ion-select>
    </ion-item>
  
  <ion-item>
    <ion-label>В промоция</ion-label>
    <ion-toggle checked="false" [(ngModel)]="promo"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Покажи най-близки</ion-label>
    <ion-toggle checked="true" [(ngModel)]="closest"></ion-toggle>
  </ion-item>
  
  <div padding>
  <button ion-button block (click)="goToSaloons()" icon-left color="purple"><ion-icon name='search'></ion-icon> Търси</button>
  </div>
  
</ion-content>
