<ion-header>
  <ion-toolbar color="purple">
    <ion-title>Търсене</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Категория</ion-label>
      <ion-select [(ngModel)]="categoryId" *ngFor="let category of categories">
        <ion-option value="{{category.id}}">{{category.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>


  <ion-list>
    <ion-item>
      <ion-label>Град</ion-label>
      <ion-select [(ngModel)]="cityId" *ngFor="let city of cities">
        <ion-option value="{{city.id}}">{{city.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>В промоция</ion-label>
    <ion-toggle checked="false" [(ngModel)]="promo"></ion-toggle>
  </ion-item>
  
  <div padding>
  <button ion-button block (click)="goToSaloons()" icon-left color="purple"><ion-icon name='search'></ion-icon> Търси</button>
  </div>
  
</ion-content>
