page-home {
	.white-button {
		border: 1px solid #b100af; background: #ffffff; color: #b100af;	
	}

	.big-button {
		height: 12%;	
	}

	@media (min-width: 0px) and (max-width: 319px) and (min-height: 0px) and (max-height: 479px) {
		.bgimg {
			background-image: url('../assets/img/drawable-port-ldpi-screen.png'); 
			background-repeat: no-repeat; 
			background-size:cover;
			background-position: center; 
			margin: auto; z-index: 2;
		}
	}

	@media (min-width: 0px) and (max-width: 479px) and (min-height: 0px) and (max-height: 799px) {
		.bgimg {
			background-image: url('../assets/img/drawable-port-mdpi-screen.png'); 
			background-repeat: no-repeat; 
			background-size:cover;
			background-position: center; 
			margin: auto; z-index: 2;
		}
	}

	@media (min-width: 0px) and (max-width: 719px) and (min-height: 0px) and (max-height: 1279px) {
		.bgimg {
			background-image: url('../assets/img/drawable-port-hdpi-screen.png'); 
			background-repeat: no-repeat; 
			background-size:cover;
			background-position: center; 
			margin: auto; z-index: 2;
		}
	}

	@media (min-width: 0px) and (max-width: 959px) and (min-height: 0px) and (max-height: 1599px) {
		.bgimg {
			background-image: url('../assets/img/drawable-port-xhdpi-screen.png'); 
			background-repeat: no-repeat; 
			background-size:cover;
			background-position: center; 
			margin: auto; z-index: 2;
		}
	}

	@media (min-width: 960px) and (min-height: 1600px) {
		.bgimg {
			background-image: url('../assets/img/drawable-port-xxxhdpi-screen.png'); 
			background-repeat: no-repeat; 
			background-size:cover;
			background-position: center; 
			margin: auto; z-index: 2;
		}
	}





	@media (min-width: 0px) and (max-width: 479px) and (min-height: 0px) and (max-height: 319px) {
		.bgimg {
			background-image: url('../assets/img/drawable-land-ldpi-screen.png'); 
			background-repeat: no-repeat; 
			background-size:cover;
			background-position: center; 
			margin: auto; z-index: 2;
		}
	}

	@media (min-width: 0px) and (max-width: 799px) and (min-height: 0px) and (max-height: 479px) {
		.bgimg {
			background-image: url('../assets/img/drawable-land-mdpi-screen.png'); 
			background-repeat: no-repeat; 
			background-size:cover;
			background-position: center; 
			margin: auto; z-index: 2;
		}
	}

	@media (min-width: 0px) and (max-width: 1279px) and (min-height: 0px) and (max-height: 719px) {
		.bgimg {
			background-image: url('../assets/img/drawable-land-hdpi-screen.png'); 
			background-repeat: no-repeat; 
			background-size:cover;
			background-position: center; 
			margin: auto; z-index: 2;
		}
	}

	@media (min-width: 0px) and (max-width: 1599px) and (min-height: 0px) and (max-height: 959px) {
		.bgimg {
			background-image: url('../assets/img/drawable-land-xhdpi-screen.png'); 
			background-repeat: no-repeat; 
			background-size:cover;
			background-position: center; 
			margin: auto; z-index: 2;
		}
	}

	@media (min-width: 1600px) and (min-height: 960px) {
		.bgimg {
			background-image: url('../assets/img/drawable-land-xxxhdpi-screen.png'); 
			background-repeat: no-repeat; 
			background-size:cover;
			background-position: center; 
			margin: auto; z-index: 2;
		}
	}

}
