<ion-content>

  <div padding>
    <button ion-button color="purple" block (click)="goToPublished()" icon-left><ion-icon name='arrow-round-back'></ion-icon>Обратно в списъка</button>
    <button ion-button color="purple" block (click)="map()" icon-left><ion-icon name='map'></ion-icon>Отбележи на карта</button>
  </div>  
<form [formGroup]="item" (ngSubmit)="save()">
  <ion-list>
    <ion-item>
      <ion-label stacked>Категория</ion-label>
      <ion-select formControlName="category">
        <ion-option value="{{category.id}}" *ngFor="let category of categories">{{category.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label stacked>Име</ion-label>
    <ion-input type="text" formControlName="name"></ion-input>
  </ion-item>

  <ion-item>
   <ion-label stacked>Описание</ion-label>
   <ion-textarea rows="6" formControlName="description"></ion-textarea>
 </ion-item>

  <ion-list>
    <ion-item>
      <ion-label stacked>Град</ion-label>
      <ion-select formControlName="city">
        <ion-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
   <ion-label stacked>Адрес</ion-label>
   <ion-textarea rows="2" formControlName="address"></ion-textarea>
 </ion-item>

  <ion-item>
    <ion-label stacked>Email</ion-label>
    <ion-input type="text" formControlName="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Телефон 1</ion-label>
    <ion-input type="text" formControlName="phone1"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Телефон 2</ion-label>
    <ion-input type="text" formControlName="phone2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Телефон 3</ion-label>
    <ion-input type="text" formControlName="phone3"></ion-input>
  </ion-item>

  <div padding>
    <button ion-button color="purple" block type="submit">Запази</button>
  </div>

</form>
</ion-content>
